<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Pick your board</h1>

<h3> varity of things ie. ads, small selection of boards, news about app, pricing examples, random boards displayed, boards progress, MANY FILLERS </h3>
<!--<th:block>-->
<!--    <div th:each="Username : ${Username}"/>-->
<!--</th:block>-->

<!--<th:block>-->
<!--    <div th:each="Task : ${Task}"/>-->
<!--</th:block>-->


<!--<th:block>-->
<!--    <div th:each="task : ${taskList}">-->
<!--        <p th:text="'Title: ' + ${task.taskTitle}" />-->
<!--        <p th:text="''"/>-->
<!--    </div>-->
<!--</th:block>-->

</body>
</html>